@model IEnumerable<Leaderboard.Models.Atleta>

@{
    ViewData["Title"] = "Index";
}

<h1>Atletas:</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var atleta in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => atleta.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => atleta.Categoria)
                </td>
                <td>
                    <!-- Adicione aqui os links para as ações Edit e Delete, se necessário -->
                    <a asp-action="Edit" asp-route-id="@atleta.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@atleta.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>